*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', 'sans-serif';
    
}




/* NAVBAR */

.navbar {
  /* background-color: transparent !important; */
  background-color: rgb(0, 16, 76);
}

.title-portfolio {
    color: green;
}

.navbar .btn-rdv {
  background-color: rgb(0, 148, 197);
  color: rgb(65, 0, 65);;
  padding: 7px;
  border: none;
  border-radius: 5%;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-rdv:hover {
  background-color: rgb(0, 119, 158); /* Couleur du bouton lorsqu'on clique */
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 1) !important; /* Fond complètement opaque et très sombre */
}

.modal-content {
  background: transparent !important; /* Fond transparent pour la modal */
  border: none;
  box-shadow: none;
}




/* VIDÉO DE PRÉSENTATION / TITRE */


.title-presentation {
  padding-top: 180px;
}

.bullet_1,
.bullet_2,
.bullet_3, 
.bullet_4,
.bullet_5 {
  background: linear-gradient(135deg, #00b7b1, #00aeff); 
  padding: 10px;
  border-radius: 50px;
}

.video-presentation {
  background: radial-gradient(circle, rgba(0,74,150,1) 59%, rgba(0,130,198,1) 100%); 
  padding-bottom: 10px;
}

.btn-style {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 80px;
  background: rgb(57, 176, 255);
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 20px;
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.btn-style:hover {
  background: #2c95ff;
}

.video-1 {
  position: relative;
  display: inline-block;
  width: 75%;
  padding-top: 60px;
  margin-bottom: 50px;
  border-radius: 12px; /* Coins arrondis */
  padding: 3px; /* Espace entre la bordure et la vidéo */
  background: #fff; /* Dégradé de couleurs */
  -webkit-box-shadow: 0px 1px 27px 0px #000000; 
box-shadow: 0px 1px 27px 0px #000000;
}

/* Appliquer un arrondi et assurer l'ajustement de l'iframe */
.video-1 iframe {
  border-radius: 12px;
  display: block;
  width: 100%;
  height: 100%;
}


.btn-projects {
  padding-top: 100px;
}




/* MES PROJETS */

.projects {
  background: #e1f9ff;
  padding: 80px 0;
}

.video-project {
  width: 100%;
  transition: .2s ease-in-out 0s;
  cursor: pointer;
}

.video-project:hover {
  transform: scale(1.04);
}

.modal {
  overflow: hidden;
}

/* Supprime la scrollbar */
.modal {
  overflow: hidden !important;
}

/* Assure que l'iframe prend tout l'espace */
.modal-body .ratio {
  width: 100%;
  height: 100%;
}

.modal-fullscreen .modal-content {
  width: 100%;
  height: 80%;
}

.modal-fullscreen .modal-body {
  overflow-y: hidden !important;
}

.ytp-cued-thumbnail-overlay-image {
  border-radius: 3px;
}




/* MES CLIENTS */

.btn-customers {
  background: linear-gradient(135deg, #00b7b1, #00aeff); 
}

.btn-customers:hover {
  background: #00cdc6;
  transition: background 0.3s ease-in-out;
}


/* FAQ */




/* CONTACT */

.contact{
  background: rgb(0,74,150);
  background: radial-gradient(circle, rgba(0,74,150,1) 59%, rgba(0,130,198,1) 100%); 
}


.timeline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.title-step {
  padding: 80px 0 100px 0;
}

/* Étapes */
.step {
  display: flex;
  align-items: center;
  position: relative;
}

/* Cercles */
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(135deg, #88fffb, #00aeff);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}

/* Effet lumineux sur l'étape active */
.step.active .circle {
  background: linear-gradient(135deg, #88fffb, #00aeff);
  box-shadow: 0 0 15px rgba(155, 117, 196, 0.8);
  color: white;
  font-size: 20px;
}

/* Texte des étapes */
.content {
  margin-left: 15px;
  font-size: 20px;
  font-weight: 400;
  transition: color 0.3s ease-in-out;
}

/* Lignes verticales */
.line {
  width: 2px;
  height: 50px;
  background: linear-gradient(180deg, #88fffb, #00aeff);
  margin-left: 24px;
}

/* Animation Hover */
.step:hover .circle {
  transform: scale(1.1);
  background: #00cdc6;
}




/* FOOTER */

.footer {
  background-color: rgb(0, 16, 76);
}







