*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', 'sans-serif';
    
}


.navbar {
    /* background-color: transparent !important; */
    background-color: rgb(101, 0, 101);
}

.video-presentation {
    width: 80%;
    height: 90%;
}

.title-portfolio {
    color: green;
}

.link {
    color: rgb(101, 0, 101);
}



.footer {
    background-color: rgb(37, 0, 72);
}







.navbar .btn-rdv {
    background-color: rgb(255, 197, 255);
    color: rgb(65, 0, 65);;
    padding: 7px;
    border: none;
    border-radius: 15%;
}